!!!
%html{xmlns="http://www.w3.org/1999/xhtml"}
  %head
    %title Ninja Commander
    %link{href="../../Content/Site.css" rel="stylesheet" type="text/css"}
    %link{href="../../Content/tabs.css" rel="stylesheet" type="text/css"}
  %body
    #header
      Ninja Commander
    #menu
      = Html.ActionLink( "Home", "Index", "Home" )
      = Html.ActionLink( "Fight Calculator", "Calculator", "Fight", null, new { id = "fight_calculator" } )
      = Html.ActionLink( "Army", "Index", "About" )
      = Html.ActionLink( "About", "Index", "About" )
    #content
      _
    #sidebar